<div class="sidebar">
    <ul class="widgets">
        <li class="widget widget-faq">
            <header class="widget-head">
                <h4 class="widget-title">FAQ's</h4><!-- /.widget-title -->
            </header><!-- /.widget-head -->

            <div class="widget-body">
                <ul class="list-faqs">
                    <li>
                        <h5 class="faqs-title">What does DANE SMIMEA Do?</h5><!-- /.faqs-title -->

                        <div class="faqs-entry">
                            <p>DANE SMIMEA allows you to have a private, encrypted, secure conversation with
                                anyone in the world using standard email. You can use your regular email account
                                and any compatible email software.</p>
                        </div><!-- /.faqs-entry -->
                    </li>

                    <li>
                        <h5 class="faqs-title">Isn’t email already private?</h5><!-- /.faqs-title -->

                        <div class="faqs-entry">
                            <p><strong>No.</strong> Many parties are already able to read every email you send or receive. Your email
                                provider, for example, can almost certainly read your emails. In the US, they may
                                have a legal right to do so[link]. Many providers are already reading emails so they
                                can profile people and present targeted advertisements.</p>
                        </div><!-- /.faqs-entry -->
                    </li>
                </ul><!-- /.list-faqs -->

                <!--<div class="widget-actions">-->
                    <!--<a href="#" class="link-more">Learn More</a>-->
                <!--</div>&lt;!&ndash; /.widget-actions &ndash;&gt;-->
            </div><!-- /.widget-body -->
        </li><!-- /.widget widget-faq -->

        <li class="widget">
            <div class="widget-body">
                <h5> DANE SMIMEA Tools</h5>

                <ul class="list-links">
                    <li>
                        <a href="/#/createDane"><b>Generate A DANE SMIMEA Record</b></a>
                    </li>

                    <li>
                        <a href="/#/dane"><b>Look Up A DANE SMIMEA Record</b></a>
                    </li>
                </ul><!-- /.list-links -->
            </div><!-- /.widget-body -->
        </li><!-- /.widget -->
    </ul><!-- /.widgets -->
</div><!-- /.sidebar -->