<div class="content">
    <div class="form-email-test">
        <form>
            <div class="form-body">
                <div class="form-row">
                    <label for="field-email" class="form-label">Test your email for <br><span>Dane Smimea</span> support:</label>

                    <div class="form-controls">
                        <input type="email" ng-model="email" class="field" name="field-email" id="field-email" value="{{email}}" placeholder="Enter your email address here">
                    </div><!-- /.form-controls -->
                </div><!-- /.form-row -->
            </div><!-- /.form-body -->

            <div class="form-actions">
                <input type="submit" ng-click="startWorkflow()" value="Begin Test" class="form-btn">
            </div><!-- /.form-actions -->
        </form>
    </div><!-- /.form-email-test -->
</div><!-- /.content -->

<div class="sidebar">
    <ul class="widgets">
        <li class="widget widget-faq">
            <header class="widget-head">
                <h4 class="widget-title">FAQ's</h4><!-- /.widget-title -->
            </header><!-- /.widget-head -->

            <div class="widget-body">
                <ul class="list-faqs">
                    <li>
                        <h5 class="faqs-title">What does Dane Smimea Do?</h5><!-- /.faqs-title -->

                        <div class="faqs-entry">
                            <p>Donec non mattis diam, a porta ligula. Donec eleifend , imperdiet tortor. Cras ut mi massa. Suspendisse consectetur a urna non luctus. Cras vel tempor nibh. vehicula velit. M elit mauris, ullamcorper nec enim sed, maximus iaculis leo.</p>
                        </div><!-- /.faqs-entry -->
                    </li>

                    <li>
                        <h5 class="faqs-title">Isn’t email already private?</h5><!-- /.faqs-title -->

                        <div class="faqs-entry">
                            <p>Donec non mattis diam, a porta ligula. Donec eleifend , imperdiet tortor. Cras ut mi massa. Suspendisse consectetur a urna non luctus. Cras vel tempor nibh. vehicula velit. M elit mauris, ullamcorper nec enim sed, maximus iaculis leo.</p>
                        </div><!-- /.faqs-entry -->
                    </li>
                </ul><!-- /.list-faqs -->

                <div class="widget-actions">
                    <a href="#" class="link-more">Learn More</a>
                </div><!-- /.widget-actions -->
            </div><!-- /.widget-body -->
        </li><!-- /.widget widget-faq -->

        <li class="widget">
            <div class="widget-body">
                <h5>Other Dane Smimea Tools</h5>

                <ul class="list-links">
                    <li>
                        <a href="#">Generate A Dane Smimea Record</a>
                    </li>

                    <li>
                        <a href="#">Look Up A Dane Smimea Record</a>
                    </li>
                </ul><!-- /.list-links -->
            </div><!-- /.widget-body -->
        </li><!-- /.widget -->
    </ul><!-- /.widgets -->
</div><!-- /.sidebar -->